.green-background{
	background-color: green;
	color: yellow;
}

.pretty-background
{
	background-color: purple;
	color: azure;
	padding: 10px;
}

.ugly-background
{
	background-color: khaki;
	color: coral;
	padding: 20px;
}