/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2016, 2:58:00 PM
    Author     : apprentice
*/

.jumbotron h1{
    /*color: #fff;*/
    color: blue;
}

.jumbotron p{
    color: #fff;
}